@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --radius: 0.5rem;

    --link: 291 94% 65%;
    --link-hover: 291 100% 65%;

    --accent-light: #3b82f6;
    --accent-regular: #a855f7;
    --accent-dark: #a21caf;
    --accent-overlay: hsla(280, 89%, 67%, 0.33);
    --accent-subtle-overlay: var(--accent-overlay);
    --accent-text-over: var(--stone-999);

    /* Gradients */
    --gradient-stop-1: var(--accent-light);
    --gradient-stop-2: var(--accent-regular);
    --gradient-stop-3: var(--accent-dark);
    --gradient-accent: linear-gradient(
      150deg,
      var(--gradient-stop-1),
      var(--gradient-stop-2),
      var(--gradient-stop-3)
    );

    --font-brand: "Orbitron", sans-serif;
    --font-body: "Roboto", sans-serif;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-roboto bg-zinc-950 text-lg text-zinc-100;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-orbitron;
  }

  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-3xl font-bold;
  }
  h3 {
    @apply text-2xl font-bold;
  }
  h4 {
    @apply text-xl font-bold;
  }

  a {
    @apply gradient-text;
  }
  a:hover:not(.site-title) {
    @apply text-link-hover;
  }
}

@layer components {
  .stack {
    @apply flex flex-col gap-4;
  }

  .gradient-text {
    @apply bg-gradient-to-r from-blue-500 via-purple-500 to-fuchsia-500 bg-clip-text font-semibold text-transparent;
  }

  .active:not(.site-title) {
    @apply text-fuchsia-500 underline underline-offset-4;
  }

  .gradient-bg {
    @apply bg-gradient-to-l from-blue-800 via-purple-500 to-fuchsia-500;
  }
}
