---
import { Picture } from "astro:assets";
import Icon from "@/components/Icon.astro";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import { SITE_TITLE, AIRSTREAM_NAME } from "@/consts";

import aiMan from "@/public/ai-man.jpg";
---

<Layout>
  <div class="stack min-h-screen bg-zinc-950 text-zinc-100">
    <Header />

    <main
      class="stack container mx-auto my-6 h-min items-center px-4 md:flex-row md:justify-around lg:gap-8"
    >
      <div
        class="stack mb-8 items-center text-center md:mb-0 md:w-1/2 md:items-start md:text-left"
      >
        <h1 class="mb-4 text-4xl lg:text-6xl">Hello, I am {SITE_TITLE}</h1>
        <p class="mb-4 text-xl font-semibold lg:text-2xl">
          Transmitting from <a href="/mind" class="gradient-text"
            >{AIRSTREAM_NAME} ...</a
          >
        </p>
        <p class="mb-4 text-xl lg:text-2xl">
          Combining the <span class="gradient-text"
            >miracle of human ingenuity</span
          >
          with the <span class="gradient-text">power of AI</span> to create the
          <span class="gradient-text">hybrid developer</span> of the future ...
        </p>
        <div class="flex items-center gap-2 text-xl">
          <Icon icon="terminalWindow" size="1.5em" gradient />
          <a href="/code" class="gradient-text"> Explore ...</a>
        </div>
      </div>
      <div class="md:w-1/3">
        <Picture
          src={aiMan}
          alt="AI and Human Collaboration"
          class="m-auto w-4/5 rounded-full md:ml-auto md:mr-0 md:w-full"
        />
      </div>
    </main>

    <Footer />
  </div>
</Layout>
