---
import Layout from "@/layouts/Post.astro";
---

<Layout
  title=""
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("August 08 2021")}
  heroImage="/sv1.jpg"
>
  <p>
    ai_man lives in SV1, the Silver Voyager, he is a digital nomad—a web
    developer who travels to different locations to work on projects, attend
    tech conferences, or collaborate with other developers. His journey is
    fueled by a desire to explore new technologies and methodologies in web
    development.
  </p>
  <p>
    The Silver Voyager is equipped with high-speed satellite internet, a mobile
    workstation, and smart home features that allow for seamless integration of
    their work and lifestyle. It might also have a mini-library of tech books
    and resources.
  </p>
  <p>
    The Silver Voyager symbolizes ai_man's quest for knowledge in the
    ever-evolving field of web development, reflecting themes of innovation,
    adaptability, and the intersection of technology and creativity.
  </p>
</Layout>
