---
const currentYear = new Date().getFullYear();
---

<footer
  class="gradient-text mt-auto border-t border-zinc-700 bg-zinc-950 p-8 text-center font-semibold"
>
  <p>&copy; {currentYear} AI/Man. All rights reserved.</p>
</footer>
