---
import CursorPulse from "@/components/CursorPulse.astro";
import { SITE_TITLE } from "@/consts";
const currentYear = new Date().getFullYear();
---

<footer
  class="mt-auto border-t border-zinc-700 p-8 text-center text-base font-semibold text-zinc-400"
>
  <p>
    &copy; {currentYear}
    {SITE_TITLE}. All rights reserved. <a href="/made-with">Made with</a>
    <CursorPulse />
  </p>
</footer>
