---
import Icon from "@/components/Icon.astro";
import { SITE_TITLE } from "@/consts";
const currentYear = new Date().getFullYear();
---

<footer class="mt-auto border-t border-zinc-700 p-8 text-base text-zinc-200">
  <div class="stack items-center justify-center gap-2 md:flex-row">
    <div class="flex items-center gap-2">
      <Icon icon="copywrite" size="1.2rem" gradient />
      <span>{currentYear} {SITE_TITLE}</span>
    </div>
    <span>All rights reserved.</span>
    <a href="/made-with" class="flex items-center gap-2">
      <span>Made with</span>
      <Icon icon="rocketlaunch" size="1rem" gradient />
    </a>
  </div>
</footer>
