---
import { SITE_TITLE } from "@/consts";
const currentYear = new Date().getFullYear();
---

<footer
  class="gradient-text mt-auto border-t border-zinc-700 p-8 text-center font-semibold"
>
  <p>&copy; {currentYear} {SITE_TITLE}. All rights reserved.</p>
</footer>
