---
import CursorPulse from "@/components/CursorPulse.astro";

const { date, index, class: className } = Astro.props;
---

<div class="stack gap-0 md:flex-row md:items-end md:gap-2">
  <span>ChronoLog: Entry #{index !== undefined ? index + 1 : "0"}</span>

  <time
    datetime={date?.toISOString()}
    class:list={["flex items-end gap-1", className]}
  >
    {
      date
        .toLocaleDateString("en-us", {
          year: "numeric",
          month: "2-digit",
          day: "2-digit",
        })
        .split("/")
        .reverse()
        .join("-")
    }
    <CursorPulse class="text-xl" />
  </time>
</div>
