---
import type { CollectionEntry } from "astro:content";
import Icon from "./Icon.astro";

interface Props {
  prevPost: CollectionEntry<"code"> | null;
  nextPost: CollectionEntry<"code"> | null;
}

const { prevPost, nextPost } = Astro.props;
---

<nav aria-label="Pagination">
  <ul class="flex justify-between">
    <li>
      {
        prevPost && (
          <a href={`/code/${prevPost.slug}/`} class="flex items-center gap-2">
            <Icon icon="arrowLeft" size="1.5em" gradient />
            <span class="gradient-text-reverse">Prev</span>
          </a>
        )
      }
    </li>
    <li>
      {
        nextPost && (
          <a href={`/code/${nextPost.slug}/`} class="flex items-center gap-2">
            <span>Next</span>
            <Icon icon="arrowRight" size="1.5em" gradient />
          </a>
        )
      }
    </li>
  </ul>
</nav>
